<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Arbortrary</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{session["logged_in_first_name"]}}'s Purchases</h4>
            </div>
            <div class="col">
                <a href="/dashboard" style="margin-right: 40px;">Dashboard</a>
                <a href="/logout">Logout</a> 
            </div>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in one_account.cars_list %}
                    <tr>
                        <td>{{row.make}}</td>
                        <td>{{row.model}}</td>
                        <td>{{row.year}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>